body {
    background-color: #06ffea;
    font-family: monospace;
}

#login {
    background-color: #4400ff;
    display: inline-block;
}

.logH2 {
    margin: 5px 5px 0 5px;
}

input {
    margin: 10px;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: solid black;
}

footer {
    width: 100%;
    left: 0;
    right: 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 0 0 10px;
    background-color: #4400ff;
    display: block;
}

.link {
    color: #06ffea;
}

#disclaimer {
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    padding: 50px 20px 50px 20px;
    z-index: 1;
    height: 200px;
    overflow-x: scroll;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

@keyframes arrow_animation {
    0% { transform: translate(0, 0); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, 0); }
}

#arrow {
    font-size: 32pt;
    margin: 0 0 5px 0;
    animation: arrow_animation 1s infinite;
}

.continue_panel {
    background-color: #4400ff;
    display: inline-block;   
}

.yourphoto {
    width: 120px;
    height: 120px;
    border-radius: 50px;
}

.loginbuttons {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    margin: 10px;
    color: white;
    background-color: rgb(0, 175, 0);
}

.loginbuttons:hover {
    background-color: rgb(17, 207, 0);
    color: rgb(49, 49, 49);
    transform: scale(110%);
    transition: 0.3s;
}

#continue_div {
    display: none;
    text-align: center;
}

#send_button {
    background-color: transparent;
    border: none;
    font-size: 24pt;
    position: relative;
    top: 5px;
    right: 10px;
    z-index: 0;
}

#send_button:hover.animate {
    animation: shake 0.4s 2;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}

#flex_container {
    border: solid black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.flex_item {
    background-color: #5669FA;
    border-radius: 10px;
    padding: 5px;
}

::selection {
    color: white;
    background-color: #559ab9;
}

/* scrollbar */

#disclaimer {
--sb-track-color: #416d82;
--sb-thumb-color: #559ab9;
--sb-size: 14px;
}

#disclaimer::-webkit-scrollbar {
  width: var(--sb-size)
}

#disclaimer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

#disclaimer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  #disclaimer {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}